<div class="my-books">
    <h2 class="my-books_title">My books</h2>  
    <table class="my-books_table">
        <thead>
            <tr class="table-head">
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Status</th>
                <th>Date Added</th>
            </tr>
        </thead>
        <tbody>
            <%@my_books.each do |book|%>
                <tr>
                    <td><img class="my-books_table-img" src="<%=book.img_route%>"></td>
                    <td class="my-books_table-title"><%=book.title%></td>
                    <td class="my-books_table-author">
                    <%book.author.each do |author|%>
                    <%=" #{author}"%>
                    <%end %>
                    </td>
                    <td><%=book.status %></td>
                    <td>
                    <span class="date_added"><%=book.date_added %></span>
                    <a href="#" class="icon-add"><img src="images/icon-pen.png"></a>
                    <a href="/books/<%=book.id%>/delete" class="icon-delete"><img src="images/icon-delete.png"></a>
                    <%=book.id %>
                    </td>
                </tr>
            <%end %>
        </tbody>
    </table>
</div>